
<h2> Informações do Produto </h2>
  <%= render partial: 'products/product_details', locals: { product: @product } %>
<div>
  <h2> Resumo do pedido: </h2>
  <i> (O vendedor irá confirmar as informações e finalizará o pedido) </i>
</div>

  <%= render partial: 'order_details', locals: { order: @order } %>

<%= link_to 'Voltar', products_path %>

